PRODUCTS_MONGODB_HOST=192.168.0.123
PRODUCTS_MONGODB_PORT=27017
PRODUCTS_MONGODB_DB=smolecule
PRODUCTS_MONGODB_USER=
PRODUCTS_MONGODB_PASSWORD=

PRODUCT_TABLE=bid_queue_by_weight_score_43_10w
PRODUCT_RESULT_TABLE=product_ast_bench_outline
PRODUCT_RESULT_TABLE_FULL=product_ast_bench_outline_detail_full
PRODUCT_FAILED_RESULT_TABLE=product_ast_bench_outline_failed

query_detail_mode=fill


AUTH_DATA_TABLE=ast_browser_auth_data

template_name=template_ast_outline_deepresearch
project_name=ast_outline_deepresearch

proxy_server=localhost
proxy_host=192.168.0.113

chrome_executable_path=C:\Program Files\Google\Chrome\Application\chrome.exe
browser_data_path=D:/dev/perplexity_spider_start

max_x_nums=5
window_height=350
window_rate=0.6

CLIENT_MIN_BID=0
CLIENT_MAX_BID=99999999


BROWSER_STATUS_9600=actived
BROWSER_STATUS_9601=actived
BROWSER_STATUS_9602=actived
BROWSER_STATUS_9603=actived
BROWSER_STATUS_9604=actived
BROWSER_STATUS_9605=actived
BROWSER_STATUS_9606=actived
BROWSER_STATUS_9607=actived
BROWSER_STATUS_9608=actived
BROWSER_STATUS_9609=actived
BROWSER_STATUS_9610=actived
BROWSER_STATUS_9611=actived
BROWSER_STATUS_9612=actived
BROWSER_STATUS_9613=actived
BROWSER_STATUS_9614=actived
BROWSER_STATUS_9615=actived
BROWSER_STATUS_9616=actived
BROWSER_STATUS_9617=actived
BROWSER_STATUS_9618=actived
BROWSER_STATUS_9619=actived
BROWSER_STATUS_9620=actived
BROWSER_STATUS_9621=actived
BROWSER_STATUS_9622=actived
BROWSER_STATUS_9623=actived
BROWSER_STATUS_9624=actived
BROWSER_STATUS_9625=actived
BROWSER_STATUS_9626=actived
BROWSER_STATUS_9627=actived
BROWSER_STATUS_9628=actived
BROWSER_STATUS_9629=actived
BROWSER_STATUS_9630=actived
BROWSER_STATUS_9631=actived
BROWSER_STATUS_9632=actived
BROWSER_STATUS_9633=actived
BROWSER_STATUS_9634=actived
BROWSER_STATUS_9635=actived
BROWSER_STATUS_9636=actived
BROWSER_STATUS_9637=actived
BROWSER_STATUS_9638=actived
BROWSER_STATUS_9639=actived
BROWSER_STATUS_9640=actived
BROWSER_STATUS_9641=actived
BROWSER_STATUS_9642=actived
BROWSER_STATUS_9643=actived
BROWSER_STATUS_9644=actived
BROWSER_STATUS_9645=actived
BROWSER_STATUS_9646=actived
BROWSER_STATUS_9647=actived
BROWSER_STATUS_9648=actived
BROWSER_STATUS_9649=actived
BROWSER_STATUS_9650=actived
BROWSER_STATUS_9651=actived
BROWSER_STATUS_9652=actived
BROWSER_STATUS_9653=actived
BROWSER_STATUS_9654=actived
BROWSER_STATUS_9655=actived
BROWSER_STATUS_9656=actived
BROWSER_STATUS_9657=actived
BROWSER_STATUS_9658=actived
BROWSER_STATUS_9659=actived